<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title><%= RefinerySetting.find_or_set(:Site_Name, "2012 Cru Summer Projects") %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js' %>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<%= javascript_include_tag 'jquery.stickyPanel', 'jquery.waypoints', 'slides.min.jquery', 'jquery.polaroid', :defaults %>
	<script src="http://connect.facebook.net/en_US/all.js#appId=169422786455893&amp;xfbml=1"></script>
  <%= csrf_meta_tag %>
</head>
<body> 
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: 'http://www.gosummerproject.com', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

<div id='wrapper' role='main'> 
	<section id='home' role='banner'> 
		<h2 id='logo'>
			<% if current_page?(root_url) %>
				<%= link_to '', "#home" %>
			<% else %>
				<%= link_to '', root_url %>
			<% end %>
		</h2> 
	</section>
	<div id='body_content'> 
		<%= yield %>
	</div>
</div> 
<nav id='nav' role='navigation'> 
<ul class='banner'> 
<li>
<% if  current_page?(root_url) %>
<%= link_to image_tag("nav/explore.png"), "#projects" %>
</li> 
<li><%= link_to image_tag("nav/decision.png"), "#decision" %></li> 
<li><%= link_to image_tag("nav/calendar.png"), "#calendar" %></li>
<li><%= link_to image_tag("nav/logo.png", :mouseover => "nav/apply.png", :class => "circle", :style => "margin-top:-42px;" ), "https://sp.campuscrusadeforchrist.com/apply" %></li> 
<li><%= link_to image_tag("nav/downloads.png"), "#downloads" %></li> 
<li><%= link_to image_tag("nav/connect.png"), "#connect" %></li> 
<li><%= link_to image_tag("nav/stories.png"), "#stories" %></li>
<% else  %>
<%= link_to image_tag("nav/explore.png"), root_url + "#projects" %>
</li> 
<li><%= link_to image_tag("nav/decision.png"), root_url + "#decision" %></li> 
<li><%= link_to image_tag("nav/calendar.png"), root_url + "#calendar" %></li> 
<li><%= link_to image_tag("nav/logo.png", :mouseover => "nav/apply.png", :class => "circle", :style => "margin-top:-42px;" ), "https://sp.campuscrusadeforchrist.com/apply" %></a></li> 
<li><%= link_to image_tag("nav/downloads.png"), root_url + "#downloads" %></li> 
<li><%= link_to image_tag("nav/connect.png"), root_url + "#connect" %></li> 
<li><%= link_to image_tag("nav/stories.png"), root_url + "#stories" %></li>
<% end  %>
</ul> 
<div id="stitch">
<ul class='landing'> 
<li><%= link_to image_tag("nav/whatissp.png"), '/what-is-a-summer-project' %></li> 
<li><%= link_to image_tag("nav/projects.png"), '/projects' %></li> 
<li><%= link_to image_tag("nav/guide.png"), '/guide' %></li>
<li><% if current_page?(root_url) %> 
			<%= link_to image_tag("nav/status.png"), '#calendar' %>
		<% else %>
			<%= link_to image_tag("nav/status.png"), root_url + "#calendar" %>
		<% end %>
</li> 
<li><%= link_to image_tag("nav/accepted.png"), '/accepted' %></li> 
<li style="margin-left:160px;"><%= link_to image_tag("nav/aboutcru.png"), '/about-cru' %></li> 
<li><%= link_to image_tag("nav/parents.png"), '/parents' %></li> 
<li><%= link_to image_tag("nav/faq.png"), '/faq' %></li> 
<li><%= link_to image_tag("nav/contact.png"), '/contact' %></li> 
<li><fb:like href="https://www.facebook.com/summerproject" send="false" layout="button_count" style="margin-top:7px;" send="false" layout="button_count" width="75" show_faces="false"></fb:like></li> 
</ul> 
</div>

</nav> 
<section style="padding:0;"> 
	<div class="ribbon" style="margin:0;"><div class="container" title="Back to Top"><a href="#home" class="top"><h1>&lsaquo;&lsaquo;</h1></a></div></div>
	<div class="container" id='footer' role='contentinfo'> 
		<span> 
			&copy; <%= RefinerySetting.find_or_set(:Copyright, "2012 Cru") %> | <%= RefinerySetting.find_or_set(:Address, "Summer Projects Lake Hart Drive, Dept 2500 Orlando, FL 32832") %> | <%= RefinerySetting.find_or_set(:Phone_Number, "1.800.690.0911 ") %> </a>
		</span>
	</div> 
</section> 

</body> 
</html>